 *~
.project
.settings
.pydevproject
.idea
__pycache__
Include
Lib
Scripts
pip-selfcheck.json
python2
python2.7
config.py
*.pyc
SketchupOulu.git.pyproj
app/static/models/building_models
app/static/images/building_model_previews
app/static/images/scenario_previews