{% extends "base.html" %}
{% block custom_script_file %}
<script src="{{ url_for('static', filename='js/scenario_edit_control.js') }}"></script>
{% endblock %}

{% block custom_css %}

{% endblock %}
{% block menu %}
	{% include 'user_menu.html' %}
{% endblock %}

{% block onload_script %}
// threejs functions
{% set index = 0 %}
{% for building_model in building_models %}
init_building_model('{{ building_model.id }}', '{{ building_model.file_type }}', '{{ building_model.addition_information|tojson }}', {{ index }});
{% set index = index + 1 %}
{% endfor %}
init();
animate();
{% endblock %}

{% block js_script %}
var building_models = [];
var objects = [];
if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

//constant


// threejs variables
var container;
var camera, scene, renderer,controls;
var plane;

// keyboard control variables
var move_forward = false, move_backward = false, move_left = false, move_right = false, move_up = false, move_down = false, is_rotating = false;
var rotate_angle = 0;
var current_view = 0;

//
var mouse_start_positions = [];

var raycaster = new THREE.Raycaster(); // create once and reuse
var mouse = new THREE.Vector2(); // create once and reuse
var isShiftDown = false;

//whether intersect with plane or objects
var intersectObjects=[];
var IsOnTop=false;


//all the vasiable objects in the scene
{% if 'addition_information' in request.form %}
var sceneObjects = {{ request.form.get('addition_information')|safe }};
{% else %}
var sceneObjects = {};
{% endif %}
//3D models various
//var chooseModel=0;
var modelsInfo;
var models = []; //models get from databsed, no contain repeated models
var currentModelIndex;
var loaded_objects_number = 0;
var current_object = null;

//dropdown list
var geometryIndex = 0;
var modeIndex = -1;

var isSelect;
var selectedModel;

var windowRatio = 2;
var windowWidth = 972;
var windowHeight = 500;

var stats;


function before_submit()
{
    sceneObjects['size'] = WORLD_SIZE;
	$('#addition_information').val(JSON.stringify(sceneObjects));
}

function do_switch_mode(mode)
{
   	buttons = {'0': 'btn_move_model', '2': 'btn_delete_model', '3': 'btn_enlarge_model', '4': 'btn_shrink_model', '5': 'btn_rotate_left', '6': 'btn_rotate_right', '8': 'buildWhere'};
   	if (mode == 8)
   		switchMode(mode);
   	else if (mode_index != mode)
   	{
    	for (var mode_key in buttons)
			$('#' + buttons[mode_key]).removeClass('disabled');
		$('#' + buttons[mode]).addClass('disabled');
		switchMode(mode);
	}
	else
	{
		$('#' + buttons[mode]).removeClass('disabled');
		switchMode('-1');
	}
	$('#buildWhere').removeClass('disabled');
   	
}

{% endblock %}

{% block main_content %}
<div class="row" style="margin-top: 20px;">

	<div class="col-lg-10 col-centered">
        <ol class = "breadcrumb">
           <li><a href = "{{ url_for('index') }}">Home</a></li>
           <li class = "active"><a href="{{ url_for('users.profile', username=g.user.username) }}">{{ g.user.username }}</a></li>
           <li class = "active">New Scenario</li>
        </ol>
		<h2 style="font-size: 45px;">New Scenario</h2>

		<form accept-charset="UTF-8" action="{{ url_for('users.add_scenario') }}" autocomplete="off"
			class="setup-form js-form-signup-detail" onsubmit="before_submit();"
			method="post">
            <input type="hidden" name="addition_information" value="" id="addition_information"/>
			<div style="margin: 0; padding: 0; display: inline">
			</div>

           {% if errors|length > 0 %}
            <div id="js-flash-container" class="col-centered" style="color: #911;background-color: #fcdede;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-top:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container">
                  There were problems creating your scenario:
                      {% for error in errors %}
                          <div>- {{ error }}</div>
                      {% endfor %}
                  </div>
            </div>
            {% endif %}
			<dl class="form">
				<dt class="input-label">
					<label autocapitalize="off" autofocus="autofocus" for="name">Scenario name</label>
				</dt>
				<dd>
                    <input type="text" id="name" name="name" autocapitalize="off" autofocus="autofocus" style="width:100%" value="{{ request.form.get('name', '') }}">
				</dd>
			</dl>
            <dl class="form">
				<dt class="input-label">
					<label autocapitalize="off" autofocus="autofocus" for="description">Description</label>
				</dt>
				<dd>
                    <textarea id="description" name="description" style="width:100%;min-height:30px;height:100px;">{{ request.form.get('description', '') }}</textarea>
				</dd>
			</dl>
			<dl class="form">
				<dt class="input-label">
					<label autocapitalize="off" for="is_public">Public</label> <input type="checkbox" id="is_public" name="is_public" value="1" checked/>
				</dt>
				<dd>

				</dd>
			</dl>
			<dl class="form successed">
				<dt class="input-label">
                    Model
				</dt>
				<dd>
                    <div style="width:20%;height:500px;border:1px solid black; float:left; text-align: center;" id="ControlWindow">
                        <div><b>Model Control:</b></div>
                        <div>
                        	<label onclick="shrink_scenario();$('#btn_undo_action').removeClass('disabled');" id="btn_shrink_scenario" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Shrink Scenario</label>
                        	<label onclick="enlarge_scenario();$('#btn_undo_action').removeClass('disabled');" id="btn_enlarge_scenario" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Enlarge Scenario</label>
                        </div>
                    	<div><b>Model Control:</b></div>
                    	<div><label onclick="do_switch_mode('0')" id="btn_move_model" class="btn btn-default" style="width:70%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Move Model</label></div>
						<div><label onclick="do_switch_mode('2')" id="btn_delete_model" class="btn btn-default" style="width:70%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Delete Model</label></div>
                    	<div>
                    		<label onclick="do_switch_mode('4')" id="btn_shrink_model" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Shrink Model</label>
                    		<label onclick="do_switch_mode('3')" id="btn_enlarge_model" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Enlarge Model</label>
                    	</div>
                    	<div>
                    		<label onclick="do_switch_mode('5')" id="btn_rotate_left" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Rotate Left</label>
                    		<label onclick="do_switch_mode('6')" id="btn_rotate_right" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Rotate Right</label>
                    	</div>
                    	<div><label onclick="do_switch_mode('8')" id="buildWhere" class="btn btn-default" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button"  >Build On Ground</label></div>
                    	<div>
                    		<label id="btn_undo_action" onclick="undo_action()" class="btn btn-default disabled" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" ><span id="banned_button_glyphicon" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Undo</label>
                    		<label onclick="redo_action()" id="btn_redo_action" class="btn btn-default disabled" style="width:34%; padding:5px; white-space:normal;cursor:pointer;" type="button" >Redo <span id="banned_button_glyphicon" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></label>
                    	</div>
                    </div>
                   
					<div style="width:80%;height:500px; float:right;border: 1px solid #ddd;border-radius: 4px;padding: 4px;line-height: 1.42857143;" id="ModelWindow"></div>
					<div id="infoHeader" style="position: absolute; padding-top: 0.5em; width: 100%; text-align: center; font-size: 100%; color: #000000;">
						<img id="metric_pic" src={{ url_for('static', filename='images/metric.png') }} alt="Metric" style="width:100px;height:20px">
						<span id="metric">100m</span>
					</div>
                    <div style="clear:both"></div>
                    <div id="available_building_models" class="carousel slide" data-interval="0" style="margin-top:10px;width:100%;min-height:150px;border: 1px solid #ddd;border-radius: 4px;padding: 4px;line-height: 1.42857143;">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% set index = 0 %}
                            {% for building_model in building_models %}
                                {% if index%5 == 0 %}
                                <div class="item{% if index==0 %} active{% endif %}" style="padding-left:7%;padding-right:7%">
                                {% endif %}
                                    <div class="col-lg-2" style="margin-top:5px;margin-left:25px;" onclick='add_building_model({"directory": "{{ building_model.addition_information.directory }}", "original_filename": "{{ building_model.addition_information.original_filename }}", "file_type": "{{ building_model.file_type }}"});'>
                                        <div id="building_model_{{ building_model.id }}" style="border: 1px solid #ddd;border-radius: 4px;padding: 4px;line-height: 1.42857143;width:100%;cursor: pointer; cursor: hand;"></div>
                                        {{ building_model.name }}
                                    </div>
                                {% set index = index + 1 %}
                                {% if index%5 == 0 %}
                                    <div style="clear:both"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if index%5 != 0 %}
                                <div style="clear:both"></div>
                            </div>
                            {% endif %}

                        </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#available_building_models" role="button" data-slide="prev" style="width:5%;min-height:150px;">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#available_building_models" role="button" data-slide="next" style="width:5%;min-height:130px;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
				</dd>
			</dl>
			<div class="form-actions">
                <button type="submit" class="btn btn-warning" id="bttn_create">Create model</button>
				<button type="reset" class="btn btn-primary" id="bttn_reset">Back</button>
			</div>

		</form>

	</div>
</div>
{% endblock %}
