{% extends "base.html" %}
{% block custom_css %}

{% endblock %}
{% block menu %}
	{% include 'user_menu.html' %}
{% endblock %}

{% block onload_script %}


{% endblock %}

{% block js_script %}
{% endblock %}

{% block main_content %}
<div class="row" style="margin-top: 20px;">

	<div class="col-lg-10 col-centered">
        <ol class = "breadcrumb">
           <li><a href = "{{ url_for('index') }}">Home</a></li>
           <li class = "active"><a href="{{ url_for('users.profile', username=g.user.username) }}">{{ g.user.username }}</a></li>
           <li class = "active">New building model</li>
        </ol>
		<h2 style="font-size: 45px;">New Building Model</h2>

		<form accept-charset="UTF-8" action="{{ url_for('users.add_building_model') }}" autocomplete="off"
			class="setup-form js-form-signup-detail"
			method="post" enctype="multipart/form-data">
			<div style="margin: 0; padding: 0; display: inline">
			</div>

           {% if errors|length > 0 %}
            <div id="js-flash-container" class="col-centered" style="color: #911;background-color: #fcdede;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-top:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container">
                  There were problems creating your scenario:
                      {% for error in errors %}
                          <div>- {{ error }}</div>
                      {% endfor %}
                  </div>
            </div>
            {% endif %}
			<dl class="form">
				<dt class="input-label">
					<label autocapitalize="off" autofocus="autofocus" for="name">Model name</label>
				</dt>
				<dd>
                    <input type="text" id="name" name="name" autocapitalize="off" autofocus="autofocus" style="width:100%" value="{{ request.form.get('name', '') }}">
				</dd>
			</dl>
            <dl class="form">
				<dt class="input-label">
					<label autocapitalize="off" autofocus="autofocus" for="name">File type</label>
				</dt>
				<dd>
                    <select class="form-control" name="file_type" id="file_type">
                        <option value="obj" {% if request.form.get('file_type')=='obj' %}selected{% endif %}>Wavefront .obj file</option>
                        <option value="objmtl" {% if request.form.get('file_type')=='objmtl' %}selected{% endif %}>Wavefront .obj file with materials</option>
                        <option value="dae" {% if request.form.get('file_type')=='dae' %}selected{% endif %}>COLLADA .dae file with materials</option>
                    </select>
				</dd>
			</dl>
            <dl class="form">
				<dt class="input-label">
					<label autocapitalize="off" autofocus="autofocus" for="data_file">Data file</label>
				</dt>
				<dd>
                    <input type="file" name="data_file" id="data_file">
				</dd>
			</dl>

			<div class="form-actions">
                <button type="submit" class="btn btn-warning" id="bttn_create">Create model</button>
				<button type="reset" class="btn btn-primary" id="bttn_reset">Back</button>
			</div>

		</form>

	</div>
</div>


{% endblock %}