{% extends "base.html" %}
{% block custom_css %}

{% endblock %}

{% block onload_script %}
    get_user_building_models();
    $(document).on('click', '.well a', function()
    {
	   $(".well a").removeClass("active");
	   $(this).addClass("active");
	});
    $('#new_comment').autoHeight();
    init();
    animate();
{% endblock %}

{% block js_script %}

    var container, scene, camera, renderer, controls, stats;
    var keyboard = new THREEx.KeyboardState();
    var clock = new THREE.Clock();
    var building_model_object = "";
    var running = false;

    window.addEventListener('resize', function(){
        var SCREEN_WIDTH = $('#building_model').innerWidth(), SCREEN_HEIGHT = $('#building_model').innerHeight();
        camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
        camera.updateProjectionMatrix();
        renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
    }, false);

    function init()
    {
        // SCENE
        scene = new THREE.Scene();
        // CAMERA
        var SCREEN_WIDTH = $('#building_model').innerWidth(), SCREEN_HEIGHT = $('#building_model').innerHeight();
        var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
        camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
        camera.position.set(0,150,400);
        //camera.lookAt(scene.position);
        scene.add(camera);

        // RENDERER
        if ( Detector.webgl )
            renderer = new THREE.WebGLRenderer( {antialias:true} );
        else
            renderer = new THREE.CanvasRenderer();
        renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
        renderer.setClearColor( 0xffffff, 1 );
        container = document.getElementById( 'building_model' );
        container.appendChild( renderer.domElement );
        // EVENTS
        THREEx.FullScreen.bindKey({ charCode : 'm'.charCodeAt(0) });
        // CONTROLS
        controls = new THREE.OrbitControls( camera, renderer.domElement );
        // LIGHT
        var light = new THREE.PointLight(0xffffff);
        light.position.set(-100,200,100);
        scene.add(light);
        // FLOOR
        var size = 500, step = 50;

        var geometry = new THREE.Geometry();

        for ( var i = - size; i <= size; i += step ) {

            geometry.vertices.push( new THREE.Vector3( - size, 0, i ) );
            geometry.vertices.push( new THREE.Vector3(   size, 0, i ) );

            geometry.vertices.push( new THREE.Vector3( i, 0, - size ) );
            geometry.vertices.push( new THREE.Vector3( i, 0,   size ) );

        }

        var material = new THREE.LineBasicMaterial( { color: 0x000000, opacity: 0.5, transparent: true } );

        var line = new THREE.LineSegments( geometry, material );
        scene.add( line );


        ////////////
        // CUSTOM //
        ////////////

        // Note: if imported model appears too dark,
        //   add an ambient light in this file
        //   and increase values in model's exported .js file
        //    to e.g. "colorAmbient" : [0.75, 0.75, 0.75]
        // addModelToScene function is called back after model has loaded

        var ambientLight = new THREE.AmbientLight(0xffffff);
        scene.add(ambientLight);

    }

    function animate()
    {
        requestAnimationFrame( animate );
        render();
        update();
    }

    function update()
    {
        controls.update();
    }

    function render()
    {
        renderer.render( scene, camera );
    }

    function get_user_building_models()
    {
        $('#search_results').html('');

        var post_data = {
            'filter_text': $('#filter_text').val(),
        };
        $.ajax({
            type: "POST",
            url: "{{ url_for('users.get_user_building_models', username=user.username) }}",
            data: post_data,
            dataType: 'json',
            success: function(data) {
                $('#search_results').html('');
                for (i = 0; i < data.building_models.length; i++)
                {
                    var building_model = data.building_models[i];
                    $('#search_results').append('<a id="building_model_' + building_model.id + '" class="list-group-item" href="javascript:fetch_building_model(\'' + building_model.id + '\');">' + building_model.name + '</a>');
                }

                if ($('#building_model_id').val() == '')
                {
                    if (data.building_models.length > 0)
                        fetch_building_model(data.building_models[0].id);
                    else
                    {
                        $('#no_building_model_label').html('User has no building model');
                        $('#no_building_model_block').fadeIn('fast');
                    }
                }
            }
        });
    }

    function fetch_building_model(building_model_id)
    {
    	console.log(building_model_id);

        $(".well a").removeClass("active");
	    $('#building_model_'+building_model_id).addClass("active");
        //stop old model
        if (building_model_object != "")
        {
            var selectedObject = scene.getObjectByName(building_model_object);
            scene.remove( selectedObject );
            animate();
        }

        $.ajax({
            type: "GET",
            url: "{{ url_for('sketchup.get_building_model') }}?id=" + building_model_id,
            dataType: 'json',
            success: function(data)
            {
                console.log(data);
                building_model_object = data.id;

                $('#building_model_id').val(data.id);
                $('#building_model_name').html('<a href="{{ url_for('sketchup.view_building_model') }}?id=' + data.id + '">' + data.name + '</a>');
                $('#profile_picture').attr('src', '{{ url_for('static', filename='images/profile_pictures') }}/' + data.owner.profile_picture);
                $('#created_user').html(data.owner.username);
                $('#created_time').html(Date.parse(data.created_time).toString('dd.MM.yyyy hh:mm:ss'));
                $('#object_id').val(data.id);

                get_comments('building_model', data.id, 1, 'building_model_comment_panel');
                $('#no_building_model_block').hide();
                $('#user_data_form').show();

                load_model( data.file_type,
                    '{{ url_for('static', filename='models/building_models/') }}' + data.addition_information.directory + '/',
                    data.addition_information.original_filename,
                    {'id': data.id, 'x': 0, 'y': 0, 'z': 0, 'size': 1, 'rotate_x': 0, 'rotate_y': 0, 'rotate_z': 0},
                    scene,
                    function(object){console.log(object);});
 
                var SCREEN_WIDTH = $('#building_model').innerWidth(), SCREEN_HEIGHT = $('#building_model').innerHeight();
                camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
                camera.updateProjectionMatrix();
                renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

                if (data.addition_information.camera_x !== 'undefined')
                    camera.position.set(data.addition_information.camera_x, data.addition_information.camera_y, data.addition_information.camera_z*1.5);
                else
                    camera.position.set(500,150,400);
                if (data.addition_information.camera_lookat_x !== 'undefined')
                    camera.lookAt(new THREE.Vector3( data.addition_information.camera_lookat_x, data.addition_information.camera_lookat_y, data.addition_information.camera_lookat_z ));
                else
                    camera.lookAt(new THREE.Vector3(0, 0, 0));
                animate();

            }
        });
    }



{% endblock %}

{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block main_content %}
<div class="">
	<div class="row" style="margin-top: 20px;">
        <div class="col-md-10 col-centered">
            <ol class = "breadcrumb">
               <li><a href = "{{ url_for('index') }}">Home</a></li>
               <li class = "active"><a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a></li>
               <li class = "active"><a href="{{ url_for('users.user_building_models_page', username=user.username) }}">Building models</a></li>
            </ol>
            <h2 style="font-size: 45px;">{{ user.username }}'s building models</h2>

            <div class="col-md-4">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <a type="button" style="width:100%; margin-bottom:10px;" class="btn btn-primary" href="{{ url_for('users.add_building_model') }}">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add building model
                        </a>
                        <form id="building_model_search_form" method="POST" action="{{ url_for('users.get_user_building_models', username=user.username) }}">
                            <input class="form-control input-lg" id="filter_text" name="filter_text" name="user_info" onkeyup="get_user_building_models();" placeholder="Search by name" type="text" value="">
                        </form>
                    </div>
                </div>
                <!-- Search result area -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well">
                            <div class="list-group auto_list" id="search_results">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="no_building_model_block">
                <h3 id="no_building_model_label"></h3>
            </div>
            <div class="col-md-8" id="user_data_form" style="display:none">
                <h3><span id="building_model_name" style="font-weight: bold"></span></h3>
                <div style="float:left;">
                    <img id="profile_picture" src="{{ url_for('static', filename='images/profile_pictures/default_profile.png') }}" style="width:60px;"/>
                </div>
                <div style="float:left; margin-left:10px;">
                    <div>Created by <span id="created_user"></span> at <span id="created_time"></span></div>
                </div>
                <div style="clear:both;margin-bottom:10px;"></div>

                <div id="building_model_content">
                    <input type="hidden" id="building_model_id" value="" />
                    <div style="width:100%;height:500px;border:1px solid black;" id="building_model"></div>
                </div>
                <div id="building_model_comment_panel"></div>
            </div>
        </div>

    </div>
</div>


{% endblock %}