{% extends "base.html" %} 
{% block custom_css %} 

{% endblock %}

{% block onload_script %}
    if (window.location.hash.substr(1) == 'building_models')
        get_building_models();
    else if (window.location.hash.substr(1) == 'scenarios')
        get_building_models();
    else if (window.location.hash.substr(1) == 'comments')
        display_comments();
    {% if g.user and g.user.username==user.username %}
    else if (window.location.hash.substr(1) == 'profile')
        get_user_profile();
    else if (window.location.hash.substr(1) == 'change_password')
        display_change_password();
    {% endif %}
    else
        display_homepage();

    $(document).on('click', '#profile_menu li', function() {
        $("#profile_menu li").removeClass("active");
        $(this).addClass("active");
	});
{% endblock %}


{% block js_script %}


    function display_comments()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_comment').addClass('active');
        $('#user_data_form').fadeOut('fast');
        $('#user_data_form').html('');
        $('#comment_list').html('');
		$.ajax({
			type: "GET",
            dataType: 'json',
            data: {'comment_type': 'user',
                    'comment_id': {{ user.id }},
                    'page': $('#comment_current_page').val()},
			url: "{{ url_for('users.get_comments') }}",
			success: function(data)
            {
				console.log(data);

                for (i=0; i < data.comments.length; i++)
                {
                    comment = data.comments[i];
                    var new_comment_html = '';
                    new_comment_html += '<li><div class="commenterImage"><img style="max-width:50px;max-height:50px;" src="{{ url_for('static', filename='images/profile_pictures') }}/' + comment.owner.profile_picture + '" /></div>';
                    new_comment_html += '<div class="commentText"><p class="">' + comment.content + '</p> <span class="date sub-text">By <a href="{{ request.url_root }}users/' + comment.owner.username + '/profile">' + comment.owner.username + '</a> on ' + Date.parse(comment.created_time).toString('dd.MM.yyyy hh:mm:ss') + '</span></div></li>';
                    $('#comment_list').append(new_comment_html);
                }
                $('#user_data_form').html($('#user_comment_panel').html());
                $('#user_data_form').fadeIn('fast');


			}
		});
    }

    function display_homepage()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_homepage').addClass('active');
        $('#user_data_form').fadeOut('fast');
        $('#user_data_form').html($('#homepage_panel').html());
        $('#user_data_form').fadeIn('fast');
    }
    function get_user_scenarios()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_scenarios').addClass('active');
    }

    function get_building_models()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_building_models').addClass('active');
    }


    {% if g.user and g.user.username==user.username %}
    function get_user_profile()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_profile').addClass('active');
        $('#user_data_form').fadeOut('fast');
		$.ajax({
			type: "GET",
			url: "{{ url_for('users.user_profile') }}",
			success: function(data) {
				// return success
				if (data.length > 0) {
					$('#user_data_form').html(data);
					$('#user_data_form').fadeIn('fast');
				}
			}
		});
    }
        function display_change_password()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_change_password').addClass('active');
        $('#old_password').val('');
        $('#new_password').val('');
        $('#confirm_password').val('');
        $('#user_data_form').html($('#change_password').html());
    }

    function update_password()
    {
        var post_data = {
            'old_password': $('#old_password').val(),
            'new_password': $('#new_password').val(),
            'confirm_password': $('#confirm_password').val()
        };
        $.ajax({
            type: "POST",
            url: "{{ url_for('users.change_password') }}",
            data: post_data,
            dataType: 'json',
            success: function(data) {
                // return success
                $('#change_password_errors_panel').fadeOut();
                $('#change_password_error_content').html('');
                show_alert('alert-success', 'Password changed!');
            },
            error: function(data)
            {
                console.log(data);
                $('#change_password_error_content').html('');
                for (i = 0; i < data.responseJSON.length; i++)
                    $('#change_password_error_content').append('<div>- ' + data.responseJSON[i] + '</div>');
                $('#change_password_errors_panel').fadeIn();

            }
        });
    }
    {% endif %}





{% endblock %}

{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block main_content %}

<div class="row" style="margin-top: 20px;">
	<div class="col-lg-10 col-centered">
        <ol class = "breadcrumb">
           <li><a href = "{{ url_for('index') }}">Home</a></li>
           <li class = "active"><a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a></li>
           <li class = "active">Profile</li>
        </ol>
		<h2 style="font-size: 45px;">{{ user.username }}'s profile</h2>

        <div class="col-md-3">
			<ul class="nav nav-pills nav-stacked" id="profile_menu">
                <li id="menu_homepage"><a href="#homepage" onclick="display_homepage();">Homepage</a></li>
                <li id="menu_comment"><a href="#comments" onclick="display_comments();">Comments</a></li>
                {% if g.user and g.user.username==user.username %}
                <li id="menu_profile"><a href="#profile" onclick="get_user_profile();">Profile</a></li>
                <li id="menu_change_password"><a href="#change_password" onclick="display_change_password();">Change_password</a></li>
                {% endif %}
                <li id="menu_building_models" class=""><a href="{{ url_for('users.user_scenarios_page', username=user.username) }}">Scenarios</a></li>
                <li id="menu_scenarios" class=""><a href="{{ url_for('users.user_building_models_page', username=user.username) }}">Building models</a></li>
            </ul>
		</div>

        <div class="col-md-9" id="user_data_form">

		</div>

        <div id="homepage_panel" style="display:none;">
                <div id="profile_picture" style="float:left;">
                    <img src="{{ url_for('static', filename='images/profile_pictures/' + user.profile_picture) }}" style="max-width:300px;max-height:300px;" />
                </div>
                <div id="profile_basic_info" style="float:left;margin-left:10px;">
                    <div id="homepage_fullname" style="display: block;font-size: 26px;line-height: 30px;text-overflow: ellipsis;">{{ user.full_name }}</div>
                    <div id="homepage_username" style="margin-top:5px;display: block;font-size: 20px;font-style: normal;font-weight: 300;line-height: 24px;color: #666;text-overflow: ellipsis;">{{ user.username }}</div>
                    <div id="" style="border-top: 1px solid #eee;margin-top:5px;font-size: 14px;">Joined on {{ user.join_date }}</div>
                </div>
                <div style="clear:both"></div>

                <div id="homepage_scenarios_panel" style="margin-top:10px;">
                    <div class="detailBox">
                        <div class="titleBox">
                          <label>Scenarios</label>
                        </div>
                        <div class="actionBox">
                            <ul class="commentList" id="scenario_list">
							{% for scenario in scenarios %}
								<li><a href="{{ url_for('sketchup.view_scenario', id=scenario.id) }}">{{ scenario.name }}</a></li>
							{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="homepage_building_models_panel" style="margin-top:10px;">
                    <div class="detailBox">
                        <div class="titleBox">
                          <label>Building models</label>
                        </div>
                        <div class="actionBox">
                            <ul class="commentList" id="building_model_list">
							{% for building_model in building_models %}
								<li>{{ building_model.name }}</li>
							{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="user_comment_panel" style="display:none;">

                <div class="detailBox">
                    <div class="titleBox">
                      <label>Comment Box</label>
                    </div>
                    <div class="commentBox">
                        <input type="hidden" id="comment_type" value="user" />
                        <input type="hidden" id="object_id" value="{{ user.id }}" />
                        <input type="hidden" id="comment_current_page" value="1" />
                        <textarea id="new_comment" style="min-height:30px;width:100%;height:100px;" class="form-control form-group" type="text" placeholder="Your comments" ></textarea>
                        <div class="form-group">
                            <button class="btn btn-default" onclick="add_comment();">Add</button>
                        </div>
                    </div>
                    <div class="actionBox">
                        <ul class="commentList" id="comment_list">

                        </ul>

                    </div>
                </div>

            </div>

        {% if g.user and g.user.username==user.username %}
        <div id="change_password" style="display:none;">
            <div id="change_password_errors_panel" class="col-centered" style="display:none;color: #911;background-color: #fcdede;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-bottom:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container" id="change_password_error_content">
                      <div>- Old password is required</div>
                  </div>
            </div>
            <div id="user_content">
                <div id="tab-content" class="tab-content">
                    <div class="tab-pane active" id="basic">
                        <form class="form-horizontal" id="basic_form" action="{{ url_for('users.change_password') }}">
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="old_password" autocapitalize="off" autofocus="autofocus">Old password</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="password" id="old_password" name="old_password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="new_password" autocapitalize="off" autofocus="autofocus">New password</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="password" id="new_password" name="new_password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="confirm_password" autocapitalize="off" autofocus="autofocus">Confirm password</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="password" id="confirm_password" name="confirm_password" />
                                </div>
                            </div>

                            <a href="#change_password" onclick="update_password();" type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                Update
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}