{% extends "base.html" %} 
{% block custom_css %}
{% endblock %}

{% block onload_script %}
    if (window.location.hash.substr(1) == 'building_models')
        get_building_models();
    else if (window.location.hash.substr(1) == 'scenarios')
        get_building_models();
    else if (window.location.hash.substr(1) == 'comments')
        display_comments();
    {% if g.user and g.user.username==user.username %}
    else if (window.location.hash.substr(1) == 'profile')
        get_user_profile();
    else if (window.location.hash.substr(1) == 'change_password')
        display_change_password();
    {% endif %}

    $(document).on('click', '#profile_menu li', function() {
        $("#profile_menu li").removeClass("active");
        $(this).addClass("active");
	});
	canvas = document.getElementById( "scenario_canvas" );
    {% for building_model in building_models %}
    init_building_model('{{ building_model.id }}', '{{ building_model.file_type }}', '{{ building_model.addition_information|tojson }}');
    {% endfor %}
    {% for scenario in scenarios %}
    init_scenario('{{ scenario.id }}', '{{ scenario.addition_information|safe }}');
    {% endfor %}


    for (i=0; i < building_models.length; i++)
    {
        var building_model = building_models[i];
        $('#building_model_' + building_model['id']).css('height', $('#building_model_' + building_model['id']).width()*3/4);
        var SCREEN_WIDTH = $('#building_model_' + building_model['id']).innerWidth()-8, SCREEN_HEIGHT = $('#building_model_' + building_model['id']).innerHeight()-8;

        building_model['camera.aspect'] = SCREEN_WIDTH / SCREEN_HEIGHT;
        building_model['camera'].updateProjectionMatrix();
        building_model['renderer'].setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
    }
    for (i=0; i < scenarios.length; i++)
    {
        var scenario = scenarios[i];
        $('#scenario_' + scenario['id']).css('height', $('#scenario_' + scenario['id']).width()*3/4);
        var SCREEN_WIDTH = $('#scenario_' + scenario['id']).innerWidth()-8, SCREEN_HEIGHT = $('#scenario_' + scenario['id']).innerHeight()-8;

        scenario['camera'].aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
        scenario['camera'].updateProjectionMatrix();
        scenario['renderer'].setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
    }
    animate();
{% endblock %}
{% block js_script %}
    var WORLD_SIZE = 1000; //side length of the square world
    var BLOCK_SIZE = 50;
    var building_models = [];
    var scenarios = [];
    var manager = new THREE.LoadingManager();
    var scenario_renderer = null;
    var canvas;
    var scenes = [];
    var renderer = null;
    var canvas = null;

    /*window.addEventListener('resize', function()
    {
        for (i=0; i < building_models.length; i++)
        {
            var building_model = building_models[i];
            $('#building_model_' + building_model['id']).css('height', $('#building_model_' + building_model['id']).width()*3/4);
            var SCREEN_WIDTH = $('#building_model_' + building_model['id']).innerWidth()-8, SCREEN_HEIGHT = $('#building_model_' + building_model['id']).innerHeight()-8;

            building_model['camera'].aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
            building_model['camera'].updateProjectionMatrix();
            building_model['renderer'].setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
        }

        for (i=0; i < scenarios.length; i++)
        {
            var scenario = scenarios[i];
            $('#scenario_' + scenario['id']).css('height', $('#scenario_' + scenario['id']).width()*3/4);
            var SCREEN_WIDTH = $('#scenario_' + scenario['id']).innerWidth()-8, SCREEN_HEIGHT = $('#scenario_' + scenario['id']).innerHeight()-8;

            scenario['camera'].aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
            scenario['camera'].updateProjectionMatrix();
            scenario['renderer'].setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
        }
    }, false);*/

    function init_scenario(id, information)
    {
        $('#scenario_' + id).css('height', $('#scenario_' + id).width()*3/4);
        information = JSON.parse(information);

        var scene = new THREE.Scene();
        var SCREEN_WIDTH = $('#scenario_' + id).innerWidth()-8, SCREEN_HEIGHT = $('#scenario_' + id).innerHeight()-8;
        var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
        var camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
        camera.position.set(0, 1000, 1000);
        camera.lookAt(new THREE.Vector3( 0, 0, 0 ));
        scene.add(camera);

        // RENDERER
        if (canvas == null)
			canvas = document.getElementById("threejs_canvas");
        if (renderer == null)
        {
	        if ( Detector.webgl )
	            renderer = new THREE.WebGLRenderer( { canvas:canvas, antialias: true } );
	        else
	            renderer = new THREE.CanvasRenderer({ canvas:canvas, antialias: true });
	    }
        //renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
        //renderer.setClearColor( 0xffffff, 1 );
        //container = document.getElementById( 'scenario_' +id );
        //container.appendChild( scenario_renderer.domElement.cloneNode(true) );
        //console.log(scenario_renderer.domElement);

		scene.userData.element = document.getElementById( 'scenario_' +id );
		scene.userData.camera = camera;
		scene.userData.controls = new THREE.OrbitControls( scene.userData.camera, scene.userData.element );

        //LIGHT
        var ambientLight = new THREE.AmbientLight(0xffffff);
        scene.add(ambientLight);
        var size = 1000;
        //object
        for (var model_id in information)
        {
            if (model_id.substring(0, 6) == 'model_')
            {
                var model = information[model_id];
                load_model( model.file_type,
                            '{{ url_for('static', filename='models/building_models/') }}' + model.directory + '/',
                            model.original_filename,
                            model,
                            scene);
            }
            else if (model_id == 'size')
            {
                size = information['size'];
            }
        }

        //GRID
        var size = size/2, step = BLOCK_SIZE;
        var geometry = new THREE.Geometry();
        for ( var i = - size; i <= size; i += step ) {
            geometry.vertices.push( new THREE.Vector3( - size, 0, i ) );
            geometry.vertices.push( new THREE.Vector3(   size, 0, i ) );
            geometry.vertices.push( new THREE.Vector3( i, 0, - size ) );
            geometry.vertices.push( new THREE.Vector3( i, 0,   size ) );
        }
        var material = new THREE.LineBasicMaterial( { color: 0x000000, opacity: 0.5, transparent: true } );
        var line = new THREE.LineSegments( geometry, material );
        scene.add( line );

        //init_scene(information, scene);
        

        //move objects to global arrays
        //scenarios.push({"id": id, "renderer": renderer, 'camera': camera, 'scene': scene, 'control': control});
        scenes.push(scene);
        //renderer.render( scene, camera );
    }


    function init_building_model(id, file_type, information)
    {
        $('#building_model_' + id).css('height', $('#building_model_' + id).width()*3/4);
        information = JSON.parse(information);
        
        // RENDERER
        if (canvas == null)
			canvas = document.getElementById("threejs_canvas");
        if (renderer == null)
        {
	        if ( Detector.webgl )
	            renderer = new THREE.WebGLRenderer( { canvas:canvas, antialias: true } );
	        else
	            renderer = new THREE.CanvasRenderer({ canvas:canvas, antialias: true });
	    }

        // variables
        var scene = new THREE.Scene();
        var SCREEN_WIDTH = $('#building_model_' + id).innerWidth()-8, SCREEN_HEIGHT = $('#building_model_' + id).innerHeight()-8;
        var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
        var camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
        camera.position.set(information.camera_x, information.camera_y, information.camera_z*1.5);
        camera.lookAt(new THREE.Vector3( information.camera_lookat_x, information.camera_lookat_y, information.camera_lookat_z ));
        scene.add(camera);

	    scene.userData.element = document.getElementById( 'building_model_' +id );
		scene.userData.camera = camera;
		scene.userData.controls = new THREE.OrbitControls( scene.userData.camera, scene.userData.element );

        //LIGHT
        var ambientLight = new THREE.AmbientLight(0xffffff);
        scene.add(ambientLight);

        //object
        load_model( file_type,
                    '{{ url_for('static', filename='models/building_models/') }}' + information.directory + '/',
                    information.original_filename,
                    {'id': id, 'x': 0, 'y': 0, 'z': 0, 'size': 1, 'rotate_x': 0, 'rotate_y': 0, 'rotate_z': 0},
                    scene,
	                function(object)
	                {
	                    
	                });

        //move objects to global arrays
        //building_models.push({"id": id, "renderer": renderer, 'camera': camera, 'scene': scene, 'control': control});
        scenes.push(scene);
        //renderer.render( scene, camera );
    }

    function animate()
    {
        requestAnimationFrame( animate );
        render();
    }
    function updateSize()
	{

		var width = canvas.clientWidth;
		var height = canvas.clientHeight;

		if ( canvas.width !== width || canvas.height != height ) {

			renderer.setSize( width, height, false );

		}
	}
    function render()
    {
        updateSize();
				
		renderer.setClearColor( 0xffffff );
		renderer.setScissorTest( false );
		renderer.clear();

		renderer.setClearColor( 0xffffff  );
		renderer.setScissorTest( true );
		
		for (i=0; i < scenes.length; i++)
		{
			
			var scene = scenes[i];


			// get the element that is a place holder for where we want to
			// draw the scene
			var element = scene.userData.element;

			// get its position relative to the page's viewport
			var rect = element.getBoundingClientRect();

			// check if it's offscreen. If so skip it
			if ( rect.bottom < 0 || rect.top  > renderer.domElement.clientHeight ||
				 rect.right  < 0 || rect.left > renderer.domElement.clientWidth ) {

				continue;  // it's off screen

			}

			// set the viewport
			var width  = rect.right - rect.left;
			var height = rect.bottom - rect.top;
			var left   = rect.left;
			var bottom = renderer.domElement.clientHeight - rect.bottom;

			renderer.setViewport( left, bottom, width, height );
			renderer.setScissor( left, bottom, width, height );

			var camera = scene.userData.camera;

			renderer.render( scene, camera );
		}
		
	
    }

    function display_comments()
    {
        $('#homepage_panel').hide();
        $("#profile_menu li").removeClass("active");
        $('#menu_comment').addClass('active');
		get_comments('user', {{ user.id }}, 1, 'user_data_form', function(element){$('#user_data_form').show();});

    }

    function display_homepage()
    {
        $('#user_data_form').hide();
        $("#profile_menu li").removeClass("active");
        $('#menu_homepage').addClass('active');

        $('#homepage_panel').fadeIn('fast', function(){
            for (i=0; i < building_models.length; i++)
            {
                var building_model = building_models[i];
                var SCREEN_WIDTH = $('#building_model_' + building_model['id']).innerWidth()-8, SCREEN_HEIGHT = $('#building_model_' + building_model['id']).innerHeight()-8;

                building_model['camera.aspect'] = SCREEN_WIDTH / SCREEN_HEIGHT;
                building_model['camera'].updateProjectionMatrix();
                building_model['renderer'].setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
            }
        });

    }
    function get_user_scenarios()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_scenarios').addClass('active');
    }

    function get_building_models()
    {
        $("#profile_menu li").removeClass("active");
        $('#menu_building_models').addClass('active');
    }


    {% if g.user and g.user.username==user.username %}
    function get_user_profile()
    {

        $('#homepage_panel').hide();
        $("#profile_menu li").removeClass("active");
        $('#menu_profile').addClass('active');
        $('#user_data_form').fadeOut('fast');
		$.ajax({
			type: "GET",
			url: "{{ url_for('users.user_profile') }}",
			success: function(data) {
				// return success
				if (data.length > 0) {
					$('#user_data_form').html(data);
					$('#user_data_form').fadeIn('fast');
				}
			}
		});
    }
    function display_change_password()
    {
        $('#homepage_panel').hide();
        $("#profile_menu li").removeClass("active");
        $('#menu_change_password').addClass('active');
        $('#old_password').val('');
        $('#new_password').val('');
        $('#confirm_password').val('');
        $('#user_data_form').html($('#change_password').html());
    }

    function update_password()
    {
        var post_data = {
            'old_password': $('#old_password').val(),
            'new_password': $('#new_password').val(),
            'confirm_password': $('#confirm_password').val()
        };
        $.ajax({
            type: "POST",
            url: "{{ url_for('users.change_password') }}",
            data: post_data,
            dataType: 'json',
            success: function(data) {
                // return success
                $('#change_password_errors_panel').fadeOut();
                $('#change_password_error_content').html('');
                show_alert('alert-success', 'Password changed!');
            },
            error: function(data)
            {
                
                $('#change_password_error_content').html('');
                for (i = 0; i < data.responseJSON.length; i++)
                    $('#change_password_error_content').append('<div>- ' + data.responseJSON[i] + '</div>');
                $('#change_password_errors_panel').fadeIn();

            }
        });
    }
    {% endif %}
{% endblock %}

{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block main_content %}

<div class="row" style="margin-top: 20px;">
	<div class="col-lg-10 col-centered">
        <ol class = "breadcrumb">
           <li><a href = "{{ url_for('index') }}">Home</a></li>
           <li class = "active"><a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a></li>
           <li class = "active">Profile</li>
        </ol>
		<h2 style="font-size: 45px;">{{ user.username }}'s profile</h2>

        <div class="col-md-3">
			<ul class="nav nav-pills nav-stacked" id="profile_menu">
                <li id="menu_homepage" class="active"><a href="#homepage" onclick="display_homepage();">Homepage</a></li>
                <li id="menu_comment"><a href="#comments" onclick="display_comments();">Comments</a></li>
                {% if g.user and g.user.username==user.username %}
                <li id="menu_profile"><a href="#profile" onclick="get_user_profile();">Profile</a></li>
                <li id="menu_change_password"><a href="#change_password" onclick="display_change_password();">Change_password</a></li>
                {% endif %}
                <li id="menu_building_models" class=""><a href="{{ url_for('users.user_scenarios_page', username=user.username) }}">Scenarios</a></li>
                <li id="menu_scenarios" class=""><a href="{{ url_for('users.user_building_models_page', username=user.username) }}">Models</a></li>
            </ul>
		</div>

        <div class="col-md-9" id="user_data_form"></div>

        <div id="homepage_panel" class="col-md-9">
            <div id="profile_picture" style="float:left;">
                <img src="{{ url_for('static', filename='images/profile_pictures/' + user.profile_picture) }}" style="max-width:300px;max-height:300px;" />
            </div>
            <div id="profile_basic_info" style="float:left;margin-left:10px;">
                <div id="homepage_fullname" style="display: block;font-size: 26px;line-height: 30px;text-overflow: ellipsis;">{{ user.full_name }}</div>
                <div id="homepage_username" style="margin-top:5px;display: block;font-size: 20px;font-style: normal;font-weight: 300;line-height: 24px;color: #666;text-overflow: ellipsis;">{{ user.username }}</div>
                <div id="" style="border-top: 1px solid #eee;margin-top:5px;font-size: 14px;">Joined on {{ user.join_date }}</div>
            </div>
            <div style="clear:both"></div>

            <div id="homepage_scenarios_panel" style="margin-top:10px;">
                <div class="detailBox">
                    <div class="titleBox">
                      <label>Scenarios</label>
                    </div>
                    <div class="actionBox">
                        <ul class="commentList" id="scenario_list">
                        {% for scenario in scenarios %}
                            <div class="col-md-6" style="margin-top:5px;float:left;">
                                <div id="scenario_{{ scenario.id }}" style="border: 1px solid #ddd;border-radius: 4px;padding: 4px;line-height: 1.42857143;width:100%;"></div>
                                <a href="{{ url_for('sketchup.view_scenario', id=scenario.id) }}">{{ scenario.name }}</a>
                            </div>
                        {% endfor %}
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>

            <div id="homepage_building_models_panel" style="margin-top:10px;">
                <div class="detailBox">
                    <div class="titleBox">
                      <label>Building models</label>
                    </div>
                    <div class="actionBox">
                        {% for building_model in building_models %}
                            <div class="col-md-4" style="margin-top:5px;float:left;">
                                <div id="building_model_{{ building_model.id }}" style="border: 1px solid #ddd;border-radius: 4px;padding: 4px;line-height: 1.42857143;width:100%;"></div>
                                <a href="{{ url_for('sketchup.view_building_model', id=building_model.id) }}">{{ building_model.name }}</a>
                            </div>
                        {% endfor %}
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>

        {% if g.user and g.user.username==user.username %}
        <div id="change_password" style="display:none;">
            <div id="change_password_errors_panel" class="col-centered" style="display:none;color: #911;background-color: #fcdede;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-bottom:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container" id="change_password_error_content">
                      <div>- Old password is required</div>
                  </div>
            </div>
            <div id="user_content">
                <div id="tab-content" class="tab-content">
                    <div class="tab-pane active" id="basic">
                        <form class="form-horizontal" id="basic_form" action="{{ url_for('users.change_password') }}">
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="old_password" autocapitalize="off" autofocus="autofocus">Old password</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="password" id="old_password" name="old_password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="new_password" autocapitalize="off" autofocus="autofocus">New password</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="password" id="new_password" name="new_password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="confirm_password" autocapitalize="off" autofocus="autofocus">Confirm password</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="password" id="confirm_password" name="confirm_password" />
                                </div>
                            </div>

                            <a href="#change_password" onclick="update_password();" type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                Update
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}