{% extends "base.html" %} 
{% block custom_css %} 

{% endblock %}

{% block onload_script %}

{% endblock %}

{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block main_content %}
<div class="row" style="margin-top: 20px;">
	<div class="col-lg-7 col-centered">
		<h2 style="font-size: 45px;">Join SketchupOulu</h2>

		<form accept-charset="UTF-8" action="{{ url_for('users.register') }}" autocomplete="off"
			class="setup-form js-form-signup-detail"
			data-form-nonce="d2271ec8547727c1c1bf52c045b905e91028ab49"
			id="signup-form" method="post">
			{{ form.csrf_token }}
			<div style="margin: 0; padding: 0; display: inline">
			</div>
			<h2 class="setup-form-title">Create your personal account</h2>

           {% if errors|length > 0 %}
            <div id="js-flash-container" class="col-centered" style="color: #911;background-color: #fcdede;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-top:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container">
                  There were problems creating your account:
                      {% for error in errors %}
                          <div>- {{ error }}</div>
                      {% endfor %}
                  </div>
            </div>
            {% endif %}
			<dl class="form">
				<dt class="input-label">
					{{ form.name.label(autocapitalize="off", autofocus="autofocus") }}
				</dt>
				<dd>
                    {{ form.name(autocapitalize="off", autofocus="autofocus", size="30", value=form.name.data) }}
				</dd>
			</dl>
			<dl class="form">
				<dt class="input-label">
					{{ form.email.label(autocapitalize="off") }}
				</dt>
				<dd>
                    {{ form.email(autocapitalize="off", size="30", value=form.email.data) }}
				</dd>
			</dl>

			<dl class="form successed">
				<dt class="input-label">
					{{ form.password.label }}
				</dt>
				<dd>
                    {{ form.password(autocapitalize="off", size="30") }}
				</dd>
			</dl>
			<dl class="form successed">
				<dt class="input-label">
					{{ form.confirm.label }}
				</dt>
				<dd>
                    {{ form.confirm(autocapitalize="off", size="30") }}
				</dd>
			</dl>
			
			<dl class="form successed">
				<dt class="input-label">
					{{ form.recaptcha }}
				</dt>
			</dl>

			<p class="tos-info">
				By clicking on "Create an account" below, you are agreeing to the <a
					href="https://help.github.com/terms" target="_blank">Terms of
					Service</a> and the <a href="https://help.github.com/privacy"
					target="_blank">Privacy Policy</a>.
			</p>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary" id="signup_button"
					data-disable-with="Creating account">Create an account</button>
			</div>

		</form>

	</div>
</div>


{% endblock %}
