{% extends "base.html" %}
{% block custom_css %}
	body
	{
		background-color: #f9f9f9;
	}
{% endblock %}

{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block onload_script %}
setTimeout(function(){ window.location='{{ url_for('users.own_profile') }}'; }, 5000);
{% endblock %}

{% block main_content %}

<div class="row" style="margin-top:20px">
	<div class="col-lg-1 col-centered">
		<img src="{{ url_for('static', filename='images/oulu_logo_1.png') }}" style="height:30px;"/>
	</div>

	<center><div class="col-lg-4 col-centered" style="margin-top:10px;font-weight: 300;font-size: 24px;letter-spacing: -0.5px;">
		{{ gettext('Your account has been activated') }}
	</div></center>

	<div class="col-lg-4 col-centered" style="margin-top:20px;font-size: 14px;background-color: #fff;border: 1px solid #d8dee2;border-radius: 5px;">
        <center><a style="margin-bottom:10px;" class="btn btn-block" href="{{ url_for('users.own_profile') }}">{{ gettext('Go to your account') }}</a></center>
	</div>

</div>

{% endblock %}