{% extends "base.html" %}
{% block custom_css %}

{% endblock %}
{% block menu %}
	{% include 'user_menu.html' %}
{% endblock %}

{% block onload_script %}
    {% for language in languages %}
    $('#content_{{ language }}').summernote({
        height: 300
    });
    {% endfor %}

{% endblock %}

{% block js_script %}

{% endblock %}

{% block main_content %}
<div class="row" style="margin-top: 20px;">
	<div class="col-lg-10 col-centered">
        <ol class = "breadcrumb">
           <li><a href = "{{ url_for('index') }}">Home</a></li>
            <li><a href = "{{ url_for('index') }}">Admin tools</a></li>
           <li class = "active">Create Journal</li>
        </ol>
		<h2 style="font-size: 45px;">Create Journal</h2>

		<form accept-charset="UTF-8" action="{{ url_for('admin.create_journal') }}" autocomplete="off"
			class="setup-form js-form-signup-detail"
			method="post">
			{{ form.csrf_token }}
			<div style="margin: 0; padding: 0; display: inline">
			</div>

           {% if errors|length > 0 %}
            <div id="js-flash-container" class="col-centered" style="color: #911;background-color: #fcdede;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-top:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container">
                  There were problems creating the journal:
                      {% for error in errors %}
                          <div>- {{ error }}</div>
                      {% endfor %}
                  </div>
            </div>
            {% endif %}
            {% if errors|length == 0 and form.is_submitted() %}
            <div id="js-flash-container" class="col-centered" style="color: #3c763d;;background-color: #5cb85c;border-radius: 3px;border: 1px solid #d8dee2;padding:15px;margin-top:20px;font-size: 14px;border-radius: 5px;">
                  <div class="container">
                      Journal created!
                  </div>
            </div>
            {% endif %}
			<dl class="form">
				<dt class="input-label">
					{{ form.category_id.label(autocapitalize="off", autofocus="autofocus") }}
				</dt>
				<dd>
                    {{ form.category_id(autocapitalize="off", autofocus="autofocus", value=form.category_id.data, style="width:100%") }}
				</dd>
			</dl>
            <dl class="form successed">
				<dt class="input-label">
					{{ form.is_activate.label }} {{ form.is_activate() }}
				</dt>
			</dl>
			<dl class="form">
				<dt class="input-label">
					{{ form.title.label(autocapitalize="off") }}
				</dt>
				<dd>
                    {{ form.title(autocapitalize="off", value=form.title.data, style="width:100%") }}
				</dd>
			</dl>

			<dl class="form successed">
				<dt class="input-label">
					{{ form.content.label }}
				</dt>
				<dd>
                    {{ form.content(value=form.content.data, style="height:50px;min-height:50px;") }}
				</dd>
			</dl>
            {% for language in languages %}
            <div style="width:100%; border:1px solid black"></div>
            <dl class="form">
				<dt class="input-label">
					<label for="title_{{ language }}">Journal name in {{ languages[language] }}</label>
				</dt>
				<dd>
                    <input autocapitalize="off" id="title_{{ language }}" name="title_{{ language }}" style="width:100%" type="text" value="{{ request.form.get('title_' + language, '') }}">
				</dd>
			</dl>
			<dl class="form successed">
				<dt class="input-label">
					<label for="content_{{ language }}">Journal content in {{ languages[language] }}</label>
				</dt>
				<dd>
                    <textarea id="content_{{ language }}" name="content_{{ language }}">{{ request.form.get('content_' + language, '') }}</textarea>
				</dd>
			</dl>
            {% endfor %}
            <div style="width:100%; border:1px solid black"></div>

			<div class="form-actions" style="margin-top:10px;">
                <button type="submit" class="btn btn-primary" id="create_button">Create Journal</button>
				<button type="reset" class="btn btn-warning" id="reset_button">Reset</button>
			</div>

		</form>

	</div>
</div>


{% endblock %}