{% extends "base.html" %}

{% block custom_script_file %}
<script src="{{ url_for('static', filename='js/scenario_view_control.js') }}?v={{get_system_parameter('version')}}"></script>
{% endblock %}

{% block custom_css %}
{% endblock %}
{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block onload_script %}
init();
animate();
get_comments('scenario', '{{ scenario.id }}', 1, 'scenario_comment_panel');

{% endblock %}

{% block js_script %}
//run before load

var is_loading = true


var building_models = [];


if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

//constant
var WORLD_SIZE = 1000; //side length of the square world
var BLOCK_SIZE = 50;
var MOVING_SPEED = 10;
var DEFAULT_HEIGHT = 1000;
var DEFAULT_DISTANCE = 100;


// threejs variables
var container;
var camera, scene, renderer,controls;
//var  gui = new dat.GUI();
//var controlPanel;//a list contains buttons and preview pictures
var plane;

// keyboard control variables
var move_forward = false, move_backward = false, move_left = false, move_right = false, move_up = false, move_down = false, is_rotating = false;
var rotate_angle = 0;
var current_view = 0;
var views = [{'x': 0, 'y':DEFAULT_HEIGHT, 'z': -1*WORLD_SIZE-DEFAULT_DISTANCE},
			{'x': WORLD_SIZE+DEFAULT_DISTANCE, 'y':DEFAULT_HEIGHT, 'z': 0},
			{'x': 0, 'y':DEFAULT_HEIGHT, 'z': WORLD_SIZE+DEFAULT_DISTANCE},
			{'x': -1*WORLD_SIZE-DEFAULT_DISTANCE, 'y':DEFAULT_HEIGHT, 'z': 0}];
var center_position = new THREE.Vector3( 0, 0, 0 );

//
var mouse_start_positions = [];

var raycaster = new THREE.Raycaster(); // create once and reuse
var mouse = new THREE.Vector2(); // create once and reuse
var isShiftDown = false;

//whether intersect with plane or objects
var intersectObjects=[];
var IsOnTop=false;


//all the vasiable objects in the scene
var objects = [];//different objects may use same models
var current_object = null;
var sceneObjects = {{ scenario.addition_information|safe }};//store information of objects including Model name and position

//3D models various
//var chooseModel=0;
var modelsInfo;
var models = [];
var currentModelIndex;
var loaded_objects_number;

//dropdown list
var modeInfo = ["Add Model","Delete Model","Enlarge Model","Reduce Model","Rotate Left","Rotate Right"];
var geometryIndex = 0;
var modeIndex = 0;

var windowRatio = 2;
var windowWidth = 972;
var windowHeight = 500;

function init()
{
	windowRatio = document.getElementById("ModelWindow").offsetWidth/document.getElementById("ModelWindow").offsetHeight;
	windowWidth = document.getElementById("ModelWindow").offsetWidth;
	windowHeight = document.getElementById("ModelWindow").offsetHeight;

	scene = new THREE.Scene();
    scene.name = "add_scenario_scene";
	
	isSelect = false;// no object has been selected
	selectedModel = null;
	
	//load model information
	THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

	//pre-defined objects
    init_scene(sceneObjects, scene, function(model){
		objects.push(model);
	});

	//document
	//container = document.createElement( 'div' );
	//document.body.appendChild( container );
	
	container = document.getElementById("ModelWindow");
	//webgl
	camera = new THREE.PerspectiveCamera( 45, windowRatio, 1, 10000 );
	camera.position.set( views[0].x, views[0].y, views[0].z );
	camera.target = center_position;
	camera.lookAt( camera.target );

	//light
	var ambient = new THREE.AmbientLight( 0xffffff );
	scene.add( ambient );

	// display the scene
	if (window.WebGLRenderingContext)
		renderer = new THREE.WebGLRenderer( { antialias: true } );//using WebGL
	else
		renderer = new THREE.CanvasRenderer(); //using the (slower) Canvas 2D Context API

	renderer.setClearColor( 0xf0f0f0 ); //0xffffff
	renderer.setPixelRatio( window.devicePixelRatio );
	//renderer.setPixelRatio( document.getElementById("ModelWindow").offsetWidth/
	//						document.getElementById("ModelWindow").offsetHeight );
	renderer.setSize( 	document.getElementById("ModelWindow").offsetWidth,
		 				document.getElementById("ModelWindow").offsetHeight
	);
	
	container.appendChild( renderer.domElement );
	controls = new THREE.OrbitControls( camera, renderer.domElement );

	intersectObjects=[plane];
	//render
	renderer.render( scene, camera);
	control = controls;
	controlling_renderer = renderer;
	controlling_scene = scene;
	controlling_camera = camera;
}

{% if g.user and g.user.is_admin %}
    function change_base_scenario_status()
    {
        bootbox.confirm({
	        message: "{{gettext('Are you sure you want to change base status of this scenario?')}}", 
	        buttons: {
	        	confirm: {label: "{{gettext('OK')}}"},
	        	cancel: {label: "{{gettext('Cancel')}}"}},
	        callback: function(result) {
	            bootbox.hideAll();
	            if (result)
	            {
	                $.ajax({
	                    type: "GET",
	                    url: "{{ url_for('admin.change_base_scenario_status', scenario_id=scenario.id) }}",
	                    dataType: 'json',
	                    success: function(data) {
	                        if (data.new_status == 0)
	                        {
	                            $('#base_scenario_button').removeClass('btn-danger');
	                            $('#base_scenario_button').addClass('btn-warning');
	                            $('#base_scenario_button').html('{{gettext("Promote to base scenario")}}');
	                        }
	                        else
	                        {
	                            $('#base_scenario_button').removeClass('btn-warning');
	                            $('#base_scenario_button').addClass('btn-danger');
	                            $('#base_scenario_button').html('{{gettext("Demote to normal scenario")}}');
	                        }
	                        show_alert('alert-success', '{{gettext("Scenario status changed")}}');
	
	                    },
	                    error: function(data)
	                    {
	                        show_alert('alert-danger', data.responseJSON[0]);
	                    }
	                });
	            }
	        }
        });
    }
{% endif %}

{% if can_edit %}
    function delete_scenario()
    {
        bootbox.confirm({
	        message: '{{gettext('Are you sure you want to delete this scenario?')}}', 
	        buttons: {
	        	confirm: {label: "{{gettext('OK')}}"},
	        	cancel: {label: "{{gettext('Cancel')}}"}},
	        callback: function(result)
	        {
	            bootbox.hideAll();
	            if (result)
	            {
	                $.ajax({
	                    type: "GET",
	                    url: "{{ url_for('sketchup.delete_scenario', scenario_id=scenario.id) }}",
	                    dataType: 'json',
	                    success: function(data) {
	                        show_alert('alert-success', 'Scenario deleted');
	                        window.location = '{{ url_for('users.user_scenarios_page', username=scenario.owner.username) }}';
	
	                    },
	                    error: function(data)
	                    {
	                        show_alert('alert-danger', data.responseJSON[0]);
	                    }
	                });
	            }
	        }
	    });
    }
{% endif %}

{% if g.user and g.user.username == scenario.owner.username %}
	function display_suggest_form()
	{
		var box = bootbox.dialog({
                title: '{{gettext('Suggest scenario to admin')}}',
                message: '<div class="row">  ' +
                    '<div class="col-md-12"> ' +
                    '<dl class="form">' +
					'	<dt class="input-label">' +
					'		<label autocapitalize="off" for="title">{{gettext('Suggest content')}}</label>' +
					'	</dt>' +
					'	<dd>' +
		            '       <textarea id="suggest_content" style="width: 100%; height: 94px; overflow-y: hidden; margin-top: 0px; margin-bottom: 15px;"></textarea>' +
					'	</dd>' +
					'</dl>' +
                    '</div>  </div>',
                buttons: {
                    success: {
                        label: "{{gettext('Send')}}",
                        className: "btn-success",
                        callback: function ()
						{
                            if ($('#suggest_content').val().trim() == '')
							{
								window.alert( '{{ gettext('Message content is required')}}' );
								return;
							}

							$.ajax({
								type: "POST",
								url: '{{url_for ('users.suggest_scenario', scenario_id=scenario.id) }}',
								data: {'content': $('#suggest_content').val()},
								dataType: 'json',
								success: function(data)
								{
									var new_comment_html = '<li id="comment_' + data.id.toString() + '">';
									new_comment_html += '    <div class="commenterImage">';
									new_comment_html += '        <a href="' + base_url + 'users/' + data.owner.username + '/profile/"><img class="img-thumbnail" style="max-width:100px;max-height:100px;" src="' + profile_url + data.owner.profile_picture + '"></a>';
									new_comment_html += '    </div>';
									new_comment_html += '    <div class="commentText" style="float:left;">';
									if (data.description != '')
									{
										new_comment_html += '        <div class="commentText"  style="display: block;"><b>' + data.description + '</b><div>';
									}
									new_comment_html += '        <p id="comment_content_' + data.id.toString() + '" style="font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans,  clean, sans-serif">' + data.content + '</p> ';
									new_comment_html += '        <span class="date sub-text">By <a href="' + base_url + 'users/' + data.owner.username + '/profile/">' + data.owner.username + '</a> on ' + data.created_time + '</span>';
									new_comment_html += '        <span class="date sub-text"> (<a href="javascript:void(0);" onclick="display_edit_comment_form(' + data.id.toString() + ');">Edit</a> - <a href="javascript:void(0);" onclick="delete_comment(' + data.id.toString() + ');">Delete</a>)</span>';
									new_comment_html += '    </div>';
									new_comment_html += '    <div style="clear:both;"></div>';
									new_comment_html += '</li>';
									new_comment_html += '<div style="clear:both;"></div>';

									$('#comment_list_{{scenario.id}}').prepend(new_comment_html);
									show_alert('alert-success', '{{gettext("Suggestion sent")}}');
								},
								error: function(data)
								{
									show_alert('alert-danger', data.responseJSON[0]);
								}
							});


                        }
                    }
                }
            }
        );
        box.on("shown.bs.modal", function() {
		  $('#suggest_content').autoHeight();
		});
	}
{% endif %}

{% if g.user %}
    function clone_scenario()
    {
        bootbox.confirm('{{gettext('Are you sure you want to clone this scenario?')}}', function(result)
        {
            bootbox.hideAll();
            if (result)
            {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('sketchup.clone_scenario', scenario_id=scenario.id) }}",
                    dataType: 'json',
                    success: function(data) {
                        show_alert('alert-success', 'Scenario cloned');
                        window.location = '{{ url_for('sketchup.view_scenario') }}?id=' + data.id;

                    },
                    error: function(data)
                    {
                        show_alert('alert-danger', data.responseJSON[0]);
                    }
                });
            }
        });

    }


{% endif %}
    var old_style = '';
    
    
    function do_switch_mode(mode)
    {
    	
    	buttons = {'0': 'btn_move_model', '2': 'btn_delete_model', '3': 'btn_enlarge_model', '4': 'btn_shrink_model', '5': 'btn_rotate_left', '6': 'btn_rotate_right', '8': 'buildWhere'};
    	if (mode_index != mode)
    	{
	    	for (var mode_key in buttons)
				$('#' + buttons[mode_key]).removeClass('disabled');
			$('#' + buttons[mode]).addClass('disabled');
			switchMode(mode);
		}
		else
		{
			$('#' + buttons[mode]).removeClass('disabled');
			switchMode('-1');
		}
    }

{% endblock %}

{% block main_content %}
<div class="row" style="margin-top: 20px;">

	<div class="col-lg-10 col-centered">
        <ol class = "breadcrumb">
           <li><a href = "{{ url_for('index') }}">{{gettext('Home')}}</a></li>
           <li class = "active"><a href="{{ url_for('users.profile', username=scenario.owner.username) }}">{{ scenario.owner.username }}</a></li>
           <li class = "active"><a href="{{ url_for('users.user_scenarios_page', username=scenario.owner.username) }}">{{gettext('Scenarios')}}</a></li>
           <li class = "active"><a href="{{ url_for('sketchup.view_scenario', id=scenario.id) }}" id="bread_crum_scenario_name">{{ scenario.name }}</a></li>
        </ol>
		<h2 style="font-size: 45px;"><a href="{{ url_for('sketchup.view_scenario', id=scenario.id) }}" id="title_scenario_name">{{ scenario.name }}</a>{% if can_edit %} - <a href="{{ url_for('sketchup.edit_scenario', id=scenario.id) }}">{{gettext('Edit')}}</a>{% endif %}</h2>
            <div style="float:left;">
                <img src="{{ url_for('static', filename='images/profile_pictures/'+scenario.owner.profile_picture) }}" style="max-width:100px;max-height:100px;" class="img-thumbnail" />
            </div>
            <div style="float:left; margin-left:10px;">
            	<div>{{gettext('Created by <a href="%(link)s">%(username)s</a> at %(time)s', link=url_for('users.profile', username=scenario.owner.username), username=scenario.owner.username, time=scenario.created_time)|e}}</div>
                {% if scenario.last_edited_user %}
                <div>{{gettext('Last edited by %(username)s at %(time)s', username='<a href="' + url_for('users.profile', username=scenario.last_edited_user.username) +'">' + scenario.last_edited_user.username + '</a>', time=scenario.last_edited_time)}}</div>
                {% endif %}
                {% if scenario.is_public==0 %}
                <div style="color:red">{{gettext('The scenario is deactivated')}}</div>
                {% endif %}
                {% if g.user and (g.user.username==scenario.owner.username or g.user.is_admin()) %}
                <div><a href="javascript:void(0);" onclick="$.facebox($('#edit_scenario').html());$('#facebox #scenario_description').autoHeight();">{{gettext('Edit settings')}}</a> - <a href="javascript:void(0);" onclick="delete_scenario();">{{gettext('Delete scenario')}}</a></div>
                <div id="edit_scenario" style="display:none">
                    <h1 style="width:100%; border-bottom: 1px solid #bbb;">{{gettext('Edit scenario')}}</h1>
                    <div style="color:red;display:none;" id="update_scenario_errors"></div>
                    <dl class="form">
                        <dt class="input-label">
                            <label autocapitalize="off" autofocus="autofocus" for="scenario_name">{{gettext('Scenario name')}}</label>
                        </dt>
                        <dd>
                            <input type="text" id="scenario_name" name="scenario_name" autocapitalize="off" autofocus="autofocus" style="width:100%" value="{{ scenario.name }}">
                        </dd>
                    </dl>
                    <dl class="form">
                        <dt class="input-label">
                            <label autocapitalize="off" for="is_public">{{gettext('Public')}}</label> <input type="checkbox" id="is_public" name="is_public" value="1" {% if scenario.is_public==1 %}checked{% endif %}/>
                        </dt>
                        <dd>

                        </dd>
                    </dl>
                    <dl class="form">
                        <dt class="input-label">
                            <label autocapitalize="off" autofocus="autofocus" for="scenario_description">{{gettext('Description')}}</label>
                        </dt>
                        <dd>
                            <textarea id="scenario_description" name="scenario_description" autocapitalize="off" autofocus="autofocus" style="width:100%;min-height:30px;height:100px;">{{ scenario.description }}</textarea>
                        </dd>
                    </dl>
                    <div style="float:right;">
                        <button class="btn btn-primary" onclick="update_scenario();">{{gettext('Update')}}</button>
                        <button class="btn" onclick="$.facebox.close();">{{gettext('Cancel')}}</button>
                    </div>
                    <div style="clear:both"></div>

                </div>
                {% endif %}
                <div>
                <button class="btn btn-default" onclick="full_screen('ModelWindow');">{{gettext('Full screen')}}</button>
                {% if g.user %}
                <button class="btn btn-default" onclick="clone_scenario();">{{gettext('Clone this scenario')}}</button>
                {% endif %}
				{% if g.user and g.user.username == scenario.owner.username %}
                <button class="btn btn-default" onclick="display_suggest_form();">{{gettext('Suggest scenario to admin')}}</button>
				{% endif %}
				{% if g.user and g.user.is_admin() and scenario.is_base_scenario==0 %}
                <button class="btn btn-warning" onclick="change_base_scenario_status();" id="base_scenario_button">{{gettext('Promote to base scenario')}}</button>
                {% elif g.user and g.user.is_admin() and scenario.is_base_scenario==1 %}
                <button class="btn btn-danger" onclick="change_base_scenario_status();" id="base_scenario_button">{{gettext('Demote to normal scenario')}}</button>
                {% endif %}
				</div>
            </div>
            <div style="clear:both"></div>
            <input type="hidden" name="addition_information" value="" id="addition_information"/>
			<div style="margin: 0; padding: 0; display: inline">
			</div>
            <div id="scenario_description_panel" style="margin-top:10px;">{{ scenario.description }}</div>
			<dl class="form">
				<dt class="input-label">
					<div id="fullscreen_area">
						<div style="width:100%;height:500px;border:1px solid black;" id="ModelWindow"></div>
					</div>
				</dt>
				<dd>

				</dd>
			</dl>
            <div id="scenario_comment_panel"></div>
	</div>
</div>


{% endblock %}
