{% extends "base.html" %}
{% block custom_css %}

{% endblock %}
{% block menu %}
	{% include 'inside_menu.html' %}
{% endblock %}

{% block onload_script %}

{% endblock %}

{% block js_script %}
{% endblock %}

{% block main_content %}
<div class="row" style="margin-top: 20px;">

	<div class="col-lg-10 col-centered">
		<h2 style="font-size: 45px;">404 - Page not found</h2>
        If you think you have arrived here by our mistake, please <a href="mailto:df.thangld@hotmail.com">contact us</a><br/>
        Or you can go <a href="javascript:window.history.back();">back</a> to previous page
	</div>
</div>


{% endblock %}