<div class="container" style="padding:0;width:100%">
    <div class="header header-logged-out clearfix" role="banner">

		<a class="header-logo-wordmark" href="{{ url_for('index') }}"
			data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
			<img style="float:left; height:25px;" src="{{ url_for('static', filename='images/oulu_logo_1.png') }}"/>
		</a>

		<div class="header-actions" role="navigation">
			<a class="btn btn-primary" href="{{ url_for('users.register') }}"
				data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">{{ gettext('Sign up') }}
				</a> <a class="btn" href="{{ url_for('users.login') }}"
				data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">{{ gettext('Sign in') }}
				</a>
		</div>

		<ul class="header-nav left" role="navigation">


			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('index') }}">{{ gettext('Home') }}</a>
			</li>
			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('sketchup.base_scenarios_page') }}">{{ gettext('Base scenarios') }}</a>
			</li>
			<li class="header-nav-item"><a class="header-nav-link" href="#">{{ gettext('Contact us') }}</a>
			</li>

		</ul>

	</div>
</div>