<div class="container" style="padding:0;width:100%">
    <div class="header header-logged-out clearfix" role="banner">

		<a class="header-logo-wordmark" href="{{ url_for('index') }}"
			data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
			<img style="float:left; height:25px;" src="{{ url_for('static', filename='images/oulu_logo_1.png') }}"/>
		</a>
        {% if g.user %}
		<div class="header-actions" role="navigation">
            <a type="button" class="btn btn-primary" href="{{ url_for('users.own_profile') }}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ g.user.username }}
            </a>

            <a class="btn btn-info" href="{{ url_for('users.logout') }}"
				data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">{{ gettext('Sign out') }}
            </a>
		</div>
        {% else %}
        <div class="header-actions" role="navigation">
			<a class="btn btn-primary" href="{{ url_for('users.register') }}"
				data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">{{ gettext('Sign up') }}
            </a> <a class="btn btn-info" href="{{ url_for('users.login') }}"
				data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">{{ gettext('Sign in') }}</a>
		</div>
        {% endif %}

		<ul class="header-nav left" role="navigation">
			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('index') }}">{{ gettext('Home') }}</a>
			</li>
			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('sketchup.base_scenarios_page') }}">{{ gettext('Base scenarios') }}</a></li>
            {% if g.user %}
            <li class="header-nav-item dropdown">
                <a class="header-nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ gettext('Profile') }}</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('users.own_profile') }}">{{ gettext('Profile') }}</a></li>
                    <li><a href="{{ url_for('users.user_building_models_page', username=g.user.username) }}">{{ gettext('My models') }}</a></li>
                    <li><a href="{{ url_for('users.user_scenarios_page', username=g.user.username) }}">{{ gettext('My scenarios') }}</a></li>
                </ul>
			</li>
            {% endif %}
            {% if g.user and g.user.is_admin() %}
            <li class="header-nav-item dropdown">
                <a class="header-nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ gettext('Admin') }}</a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ gettext('Models') }}</li>
                    <li><a href="{{ url_for('index') }}">{{ gettext('Scenarios') }}</a></li>
                    <li><a href="{{ url_for('index') }}">{{ gettext('Suggestions') }}</a></li>
                    <li><a href="{{ url_for('index') }}">{{ gettext('Building models') }}</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ gettext('Users control') }}</li>
                    <li><a href="{{ url_for('admin.user_management') }}">{{ gettext('User management') }}</a></li>
                    <li><a href="{{ url_for('admin.news_management') }}">{{ gettext('Journal management') }}</a></li>
                    <li><a href="{{ url_for('admin.send_email') }}">{{ gettext('Send email') }}</a></li>
                </ul>
			</li>
            {% endif %}
			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('journal.view', journal_id=114) }}">{{ gettext('About us') }}</a>
			</li>
			<li class="header-nav-item">
				{% if 'locale' in session and session['locale']=='en' %}
					{% if request.url.find('?') != -1 %}
	                <a class="header-nav-link" href="{{ request.url }}&lang=fi">Suomi</a>
	                {% else %}
	                <a class="header-nav-link" href="{{ request.url }}?lang=fi">Suomi</a>
	                {% endif %}
				{% else %}
					{% if request.url.find('?') != -1 %}
	                <a class="header-nav-link" href="{{ request.url }}&lang=en">English</a>
	                {% else %}
	                <a class="header-nav-link" href="{{ request.url }}?lang=en">English</a>
	                {% endif %}
				{% endif %}
			</li>
		</ul>
	</div>
</div>