<div class="container" style="padding:0;width:100%">
    <div class="header header-logged-out clearfix" role="banner">

		<a class="header-logo-wordmark" href="{{ url_for('index') }}"
			data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
			<img style="float:left; height:25px;" src="{{ url_for('static', filename='images/oulu_logo_1.png') }}"/>
		</a>

		<div class="header-actions" role="navigation">
            <a type="button" class="btn btn-primary" href="{{ url_for('users.own_profile') }}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ g.user.username }}
            </a>

            <a class="btn" href="{{ url_for('users.logout') }}"
				data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">Sign out
            </a>
		</div>

		<ul class="header-nav left" role="navigation">
			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="header-nav-item"><a class="header-nav-link" href="{{ url_for('sketchup.base_scenarios_page') }}">Base scenarios</a>
			</li>
            {% if g.user.is_admin() %}
            <li class="header-nav-item dropdown">
                <a class="header-nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li class="dropdown-header">Models</li>
                    <li><a href="{{ url_for('index') }}">Scenarios</a></li>
                    <li><a href="{{ url_for('index') }}">Suggestions</a></li>
                    <li><a href="{{ url_for('index') }}">Building models</a></li>

                    <li class="divider"></li>
                    <li class="dropdown-header">Users control</li>
                    <li><a href="{{ url_for('admin.user_management') }}">User management</a></li>
                    <li><a href="{{ url_for('admin.news_management') }}">Journal management</a></li>
                    <li><a href="{{ url_for('admin.send_email') }}">Send email</a></li>
                </ul>
			</li>
            {% endif %}
			<li class="header-nav-item"><a class="header-nav-link" href="#">Contact us</a>
			</li>

		</ul>

	</div>
</div>